{% extends 'base_generic.html'%}

{% block content %}
<div class="row">
    <h4>Forgot your password?</h4>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form action="" method="post" class="col s12">
        {% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{form.email}}</p>   
        <button class="btn waves-effect waves-light btn-large light-blue darken-4" type="submit" name="action"> Send instructions!</button>        
    </form>
</div>
{% endblock %}